.about {
	padding-top: 100px;
	padding-bottom: 50px;
}

.about__title {
	margin-bottom: 46px;
}

.about__body {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: minmax(580px, 600px) 40px minmax(auto, 500px);
	grid-template-columns: minmax(580px, 600px) minmax(auto, 500px);
	-ms-grid-rows: (auto)[2];
	grid-template-rows: repeat(2, auto);
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-column-gap: 40px;
	-moz-column-gap: 40px;
	column-gap: 40px;
	font-weight: 400;

	grid-template-areas: 
		"image text-block"
		"image blockquote";
}

.about-img {
	-ms-grid-row: 1;
	-ms-grid-row-span: 2;
	-ms-grid-column: 1;
	grid-area: image;
	height: 596px;
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: left center;
	object-position: left center;
}

.about__text-block {
	-ms-grid-row: 1;
	-ms-grid-column: 3;
	grid-area: text-block;
	font-size: 20px;
	line-height: 140%;
	margin-bottom: 57px;
}

.about__text:not(:last-child) {
	margin-bottom: 28px;
}

.about__text-excerpt {
	display: block;
}

.about-blockquote {
	-ms-grid-row: 2;
	-ms-grid-column: 3;
	grid-area: blockquote;
}

.about-blockquote__text {
	position: relative;
	font-size: 44px;
	line-height: 114%;
	text-transform: uppercase;
	padding-left: 31px;
	margin-bottom: 30px;
}

.about-blockquote__text:after, 
.about-blockquote__text:before {
	content: '“';
	position: absolute;
	width: 22px;
	height: 50px;
	font-weight: 900;
	font-size: 44px;
	color: var(--color-purple-dark, #6c0287);
}

.about-blockquote__text:before {
	top: 0;
	left: 0;
	-webkit-transform: translateY(-11px);
	-ms-transform: translateY(-11px);
	transform: translateY(-11px);
}

.about-blockquote__text:after {
	bottom: 0;
	-webkit-transform: rotate(180deg) translate(-12px, 14px);
	-ms-transform: rotate(180deg) translate(-12px, 14px);
	transform: rotate(180deg) translate(-12px, 14px);
}

.about-blockquote__dfn {
	display: block;
}

.about-blockquote__block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-column-gap: 30px;
	-moz-column-gap: 30px;
	column-gap: 30px;
	padding-right: 45px;
}

.about-blockquote__img {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 80px;
	flex: 0 0 80px;
	height: 80px;
}

.blockquote-origin {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 234px;
	flex: 0 1 234px;
	font-size: 20px;
	line-height: 140%;
}

@media (max-width: 1100px) {

	.about {
		padding-top: 70px;
		padding-bottom: 35px;
	}
	
	.about__title {
		margin-bottom: 26px;
	}
	
	.about__body {
		-ms-grid-columns: minmax(400px, 420px) minmax(auto, 444px);
		grid-template-columns: minmax(400px, 420px) minmax(auto, 444px);
	}
	
	.about-img {
		height: 418px;
	}
	
	.about__text-block {
		font-size: 18px;
		line-height: 133%;
		margin-bottom: 38px;
	}
	
	.about__text:not(:last-child) {
		margin-bottom: 26px;
	}
	
	.about-blockquote__text {
		font-size: 30px;
		line-height: 120%;
		padding-left: 25px;
		margin-bottom: 21px;
	}
	
	.about-blockquote__text:after, 
	.about-blockquote__text:before {
		width: 15px;
		height: 36px;
		font-size: 30px;
	}
	
	.about-blockquote__text:after {
		-webkit-transform: rotate(180deg) translate(-9px, 9px);
		-ms-transform: rotate(180deg) translate(-9px, 9px);
		transform: rotate(180deg) translate(-9px, 9px);
	}
	
	.about-blockquote__text:before {
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	
	.about-blockquote__dfn {
		display: inline-block;
	}
	
	.about-blockquote__excerpt {
		display: block;
	}

	.about-blockquote__block {
		-webkit-column-gap: 35px;
		-moz-column-gap: 35px;
		column-gap: 35px;
		padding-right: 0;
	}
	
	.about-blockquote__img {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 70px;
		flex: 0 0 70px;
		height: 70px;
	}
	
	.blockquote-origin {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 225px;
		flex: 0 1 225px;
		font-size: 18px;
		line-height: 144%;
	}
}

@media (max-width: 830px) {

	.about {
		padding-top: 60px;
		padding-bottom: 30px;
	}
	
	.about__title {
		margin-bottom: 30px;
	}

	.about__body {
		-ms-grid-columns: minmax(346px, 382px) 28px minmax(174px, auto);
		grid-template-columns: minmax(346px, 382px) minmax(174px, auto);
		-webkit-column-gap: 28px;
		-moz-column-gap: 28px;
		column-gap: 28px;
		row-gap: 41px;
	
		-ms-grid-rows: auto 41px auto;
	
		grid-template-areas: 
			"image text-block"
			"blockquote blockquote";
	}
	
	.about-img {
		height: 380px;
	}

	.about__text-block {
		-ms-flex-item-align: center;
		-ms-grid-row-align: center;
		align-self: center;
		font-size: 16px;
		line-height: 137%;
		margin-bottom: 0;
	}
	
	.about__text:not(:last-child) {
		margin-bottom: 22px;
	}

	.about__text-excerpt {
		display: inline;
	}

	.about-blockquote__text {
		font-size: 32px;
		line-height: 112%;
		padding-left: 22px;
		margin-bottom: 24px;
	}
	
	.about-blockquote__text:after, 
	.about-blockquote__text:before {
		width: 16px;
		font-size: 32px;
	}
	
	.about-blockquote__text:after {
		-webkit-transform: rotate(180deg) translate(-10px, 10px);
		-ms-transform: rotate(180deg) translate(-10px, 10px);
		transform: rotate(180deg) translate(-10px, 10px);
	}
	
	.about-blockquote__text:before {
		-webkit-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	
	.about-blockquote__dfn {
		display: inline;
	}
	
	.about-blockquote__excerpt {
		display: inline;
	}

	.about-blockquote__block {
		-webkit-column-gap: 25px;
		-moz-column-gap: 25px;
		column-gap: 25px;
	}

	.about-img {
		-ms-grid-row: 1;
		-ms-grid-row-span: 1;
		-ms-grid-column: 1;
	}

	.about__text-block {
		-ms-grid-row: 1;
		-ms-grid-column: 3;
	}

	.about-blockquote {
		-ms-grid-row: 3;
		-ms-grid-column: 1;
		-ms-grid-column-span: 3;
	}
}

@media (max-width: 610px) {

	.about__body {
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		-ms-grid-rows: auto 20px 380px 20px auto;
		grid-template-rows: auto 380px auto;
		-webkit-column-gap: unset;
		-moz-column-gap: unset;
		column-gap: unset;
		row-gap: 20px;
	
		grid-template-areas: 
			"text-block"
			"image"
			"blockquote";
	}

	.about-img {
		-ms-grid-row: 3;
		-ms-grid-row-span: 1;
		-ms-grid-column: 1;
	}

	.about__text-block {
		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}

	.about-blockquote {
		-ms-grid-row: 5;
		-ms-grid-column: 1;
		-ms-grid-column-span: 1;
	}
}

@media (max-width: 450px) {

	.about {
		padding-top: 30px;
		padding-bottom: 15px;
	}
	
	.about__title {
		margin-bottom: 15px;
	}

	.about__body {
		-ms-grid-rows: auto 14px 280px 14px auto;
		grid-template-rows: auto 280px auto;
		row-gap: 14px;
	}

	.about__text-block {
		-ms-flex-item-align: unset;
		-ms-grid-row-align: unset;
		align-self: unset;
		font-size: 12px;
		line-height: 133%;
	}
	
	.about__text:not(:last-child) {
		margin-bottom: 16px;
	}

	.about__text-excerpt_block {
		display: block;
	}

	.about-blockquote {
		-webkit-transform: translateY(9px);
		-ms-transform: translateY(9px);
		transform: translateY(9px);
	}

	.about-blockquote__text {
		font-size: 18px;
		line-height: 140%;
		padding-left: 15px;
		margin-bottom: 11px;
	}
	
	.about-blockquote__text:after, 
	.about-blockquote__text:before {
		width: 11px;
		font-size: 22px;
	}
	
	.about-blockquote__text:after {
		-webkit-transform: rotate(180deg) translate(-4px, 7px);
		-ms-transform: rotate(180deg) translate(-4px, 7px);
		transform: rotate(180deg) translate(-4px, 7px);
	}
	
	.about-blockquote__text:before {
		-webkit-transform: translateY(-9px);
		-ms-transform: translateY(-9px);
		transform: translateY(-9px);
	}
	
	.about-blockquote__block {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		-webkit-column-gap: 11px;
		-moz-column-gap: 11px;
		column-gap: 11px;
	}

	.about-blockquote__img {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 56px;
		flex: 0 0 56px;
		height: 56px;
	}
	
	.blockquote-origin {
		-webkit-box-flex: 0;
		-ms-flex: 0 1 179px;
		flex: 0 1 179px;
		font-size: 12px;
		line-height: 133%;
	}

	.blockquote-origin__author {
		display: block;
	}
}