:root {
	--main-color: #fff;
	--main-bg-color: #1b1a1b;
	--color-black: #000;
	--color-black-booking: #211e1e;
	--bg-color-purple: #440f51;
	--color-purple-dark: #6c0287;
	--color-purple: #840aa3;
	--color-purple-bright: #cd06ff;
	--color-lilac: #640aa3;
	--color-pink-light: #eadeed;
}